language: node_js
node_js:
- 8.9.4
install: yarn
script: yarn build
deploy:
  provider: s3
  access_key_id: $AWS_KEY
  secret_access_key: $AWS_SECRET
  bucket: "justinwhall.com"
  skip_cleanup: true
  acl: public_read
  local_dir: public
after_deploy:
  - travis-ci-cloudfront-invalidation -a $AWS_KEY -s $AWS_SECRET -c $AWS_CLOUDFRONT_DIST_ID -i '/*' -b $TRAVIS_BRANCH -p $TRAVIS_PULL_REQUEST